@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");

:root{
    --main-color:orange;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;left: 0;right: 0;
    width: 100%;
    z-index: 1000;
    background-color: #333;
    padding: 13px 30px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar .logo span {
    color: var(--main-color);
}

.navbar .logo h1 {
    color: white;
    letter-spacing: 1px;
    font-size: 1.6rem;
    font-weight: 600;
}

.navbar .center a {
    margin: 0 20px;
    font-size: 1.1rem;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
}

.navbar .center a:hover {
    color: var(--main-color);
    transition: 0.3s;
}

.auth span {
    margin: 0 8px;
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.auth .wishlist {
    color: red;
}

.auth .cart,.user {
    color: white;
}

.user:hover{
    color: orange;
    transition: all .3s;
}
.cart:hover{
    color: orange;
    transition: all .3s;
}
.search:hover{
    color: orange;
    transition: all .3s;
}

header .search-bar-container {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    padding: 8px 20px;
    background: #333;
    border-top: .1rem solid rgba(255, 255, 255, .2);
    display: flex;
    align-items: center;
    z-index: 1001;
}

header .search-bar-container.active {
    top: 100%;
}

header .search-bar-container #search-bar {
    width: 100%;
    padding: 8px 20px;
    text-transform: none;
    color: #333;
    font-size: 1rem;
    border-radius: .5rem;
    outline: none;
}

header .search-bar-container label {
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 1.5rem;
}

header .search-bar-container label:hover {
    color: var(--main-color);
}

section{
    padding: 3rem 7%;
}

.head{
    margin-top: 90px;
    margin-bottom: 30px;
    background-color: antiquewhite;
    padding: 20px 0;
    height: 220px;
    width: 100%;
    color: orange;
    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.7)), url(/images/h.jpg);
    background-repeat: no-repeat;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head h1{
    font-size: 3.2rem;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 600;
}

.head p{
    color: white;
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 0.5px;
}

.product{
    background-color: rgba(85, 107, 47, 0.293);
}

.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
}

.box{
    padding: 10px 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0,0.4);
    cursor: pointer;
    background-color: #fff;
    border-radius: 6px;
}

.box:hover img {
    transform: scale(1.1);
    transition: all .3s ease;
}

.box img{
    height: 200px;
    width:200px;
    object-fit: cover;
    background-repeat: no-repeat;
}

.box .boxContent p{
    font-size: 20px;
    margin: 5px 0;
}

.box .boxContent h4{
    font-size: 1.1rem;
    color: rgb(255, 106, 0);
    font-weight: 600;
}

.box .boxContent span{
    text-decoration: line-through;
    color: rgb(177, 164, 164);
    font-weight: 300;
}

.box .button button{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    margin: 10px 0;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background-color: rgb(255, 192, 76);
}

.button button:hover{
    background-color: orange;
    transition: all .3s ease-in-out;
}


.footer {
    padding: 3rem 9%;
    background-color: #1b1b1b;
}

.footerContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

.footerContainer .row {
    padding: 1rem 0;
    display: flex;
    gap: .8rem;
    flex-flow: column;

}

.row h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: orange;
}

.row p {
    color: white;
    letter-spacing: 1px;
    font-style: italic;
    font-size: 1rem;
}

.row a {
    color: rgba(255, 255, 255, 0.671);
    font-size: 1rem;
    letter-spacing: 1px;
}

.row a:hover {
    color: var(--main-color);
    transition: all .2s;
}