@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");

:root {
    /* --main-color: rgb(255, 106, 0); */
    --main-color: orange;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}


header {
    position: fixed;
    top: 0;left: 0;right: 0;
    width: 100%;
    z-index: 1000;
    background-color: #333;
    padding: 13px 30px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar .logo span {
    color: var(--main-color);
}

.navbar .logo h1 {
    color: white;
    letter-spacing: 1px;
    font-size: 1.6rem;
    font-weight: 600;
}

.navbar .center a {
    margin: 0 20px;
    font-size: 1.1rem;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
}

.navbar .center a:hover {
    color: var(--main-color);
    transition: 0.3s;
}

.auth span {
    margin: 0 8px;
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.auth .wishlist {
    color: red;
}

.auth .cart,.user {
    color: white;
}

.user:hover{
    color: orange;
    transition: all .3s;
}
.cart:hover{
    color: orange;
    transition: all .3s;
}
.search:hover{
    color: orange;
    transition: all .3s;
}

header .search-bar-container {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    padding: 8px 20px;
    background: #333;
    border-top: .1rem solid rgba(255, 255, 255, .2);
    display: flex;
    align-items: center;
    z-index: 1001;
}

header .search-bar-container.active {
    top: 100%;
}

header .search-bar-container #search-bar {
    width: 100%;
    padding: 8px 20px;
    text-transform: none;
    color: #333;
    font-size: 1rem;
    border-radius: .5rem;
    outline: none;
}

header .search-bar-container label {
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 1.5rem;
}

header .search-bar-container label:hover {
    color: var(--main-color);
}

section {
    padding: 4rem 13%;
}

/* .home {
    padding-top: 8rem;
    background-color: antiquewhite;
}

.homeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: #87b1ac8b;
    border-radius: 4px;
}

.homeHead h1,p {
    margin: 8px 0;
}

.homeHead button {
    margin: 15px 0;
}

.homeHead span {
    color: var(--main-color);
}

.homeHead h1 {
    font-size: 2.1rem;
    letter-spacing: 1px;
    font-weight: 600;
}

.homeHead p {
    font-size: 1.3rem;
    color: #ff0606a9;
    letter-spacing: 0.9px;
    font-weight: 600;
}

.btn {
    font-size: 1rem;
    font-weight: 500;
    padding: 7px 18px;
    letter-spacing: 1px;
    color: antiquewhite;
    background-color: black;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    color: black;
    background-color: transparent;
    transition: all 0.2s;
}

.home-img img {
    height: 350px;
    width: 100%;
}

.homeContainer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: rgba(255, 166, 0, 0.409);
    border-radius: 4px;
    margin-top: 40px;
}

.homeContainer2 .hHead img {
    flex: 2;
    height: 350px;
}

.homeContainer2 .hContent h1 {
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.hContent p {
    font-size: 1.3rem;
    color: #ff0606a9;
    font-weight: 600;
    margin-top: 10px;
    letter-spacing: 1px;
}

.hContent button {
    font-size: 1rem;
    margin: 20px 0;
    font-weight: 500;
    border: 2px solid black;
    letter-spacing: 1px;
    color: antiquewhite;
    padding: 5px 18px;
    background-color: black;
    border-radius: 6px;
    cursor: pointer;
}

.hContent button:hover {
    color: rgb(34, 33, 33);
    background-color: transparent;
}

.hContent span {
    color: var(--main-color);
} */

.home-container {
    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.6)), url(/images/hl2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    padding: 0 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 60px;
}

.home-container h1 {
    font-size: 2.6rem;
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 20px;
}


.home-container p {
    font-size: 1.5rem;
    color: orange;
    letter-spacing: 0.9px;
    font-weight: 500;
}

.btn {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 7px 18px;
    letter-spacing: 1px;
    color: white;
    background-color: transparent;
    border-radius: 6px;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    color: black;
    background-color: transparent;
    border: 2px solid black;
    transition: all 0.2s;
}

.brand {
    padding: 20px 0;
}

.brandContainer {
    padding: 30px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.brand img {
    height: 70px;
    /* width: 200px; */
    cursor: pointer;
    transition: all 0.3s;
}

.brand img:hover {
    transform: scale(1.1);
    transition: all 0.4s;
}

.product {
    background-color: rgba(85, 107, 47, 0.293);
    padding: 3rem 7%;
}

.productHead h1 {
    font-size: 2.7rem;
    font-weight: 600;
    color: orange;
    text-align: center;
    margin-bottom: 40px;
}

.productContent {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
}

.box {
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    border-radius: 6px;
    overflow: hidden;
}


.box img {
    /* height: 200px; */
    width: 200px;
    object-fit: cover;
    transition: all .2s ease;
}

.box:hover img {
    transform: scale(1.1);
    transition: all .3s ease;
}

.box .boxContent p {
    font-size: 20px;
    margin: 5px 0;
}

.box .boxContent h4 {
    font-size: 1.1rem;
    color: rgb(255, 106, 0);
    font-weight: 600;
}

.box .boxContent span {
    text-decoration: line-through;
    color: rgb(177, 164, 164);
    font-weight: 300;
}

.box .button button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    margin: 10px 0;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background-color: rgb(255, 192, 76);
}

.button button:hover {
    background-color: orange;
    transition: all .3s ease-in-out;
}

.frames {
    padding: 2rem 8%;
}

.frameContainer {
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    /* flex-wrap: wrap; */
}

.frameBox {
    position: relative;
}

.frameBox img {
    height: 350px;
    border-radius: 3px;
    width: 650px;
    object-fit: cover;
    background-repeat: no-repeat;
}

.frameBox .frameContent {
    position: absolute;
    top: 0;
    text-align: end;
    background-color: rgba(0, 0, 0, 0.4);
    height: 98%;
    width: 100%;
    padding-top: 40px;
    padding-right: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.frameContent p {
    color: black;
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.frameContent h2 {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 20px 0;
}

.frameContent button {
    font-size: 1rem;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 7px;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
    letter-spacing: 1px;
}

.frameContent button:hover {
    color: white;
    border: 2px solid white;
    transition: all .3s;
}

.subscribe {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.7)), url(/images/h.jpg);
    width: 100%;
    padding: 2rem 0;
}

.subHead h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: orange;
    letter-spacing: 1px;
}

.subscribe p {
    color: white;
    text-align: center;
    font-size: 1.05rem;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.subContent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.subContent input {
    outline: none;
    background-color: transparent;
    color: white;
    padding: 15px 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    width: 40%;
}

.subContent input:focus {
    border: 2px solid white;
    transition: all .2s;
}

.subContent button {
    border: 2px solid black;
    height: 58px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: var(--main-color);
    background-color: #1b1b1b;
    border-radius: 4px;
    padding: 12px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.subContent button:hover {
    color: white;
    transition: all .2s;
}


.footer {
    padding: 3rem 9%;
    background-color: #1b1b1b;
}

.footerContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

.footerContainer .row {
    padding: 1rem 0;
    display: flex;
    gap: .8rem;
    flex-flow: column;

}

.row h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: orange;
}

.row p {
    color: white;
    letter-spacing: 1px;
    font-style: italic;
    font-size: 1rem;
}

.row a {
    color: rgba(255, 255, 255, 0.671);
    font-size: 1rem;
    letter-spacing: 1px;
}

.row a:hover {
    color: var(--main-color);
    transition: all .2s;
}